*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
**/.ipynb_checkpoints/
**/*.gif
**/Manifest.toml

docs/build
docs/src/contributing.md
docs/src/license.md
docs/src/benchmark_python_*.txt
docs/dev/*.pdf
docs/dev/*.png

run*/
**/.CondaPkg/

**/*.code-workspace
