name = "BSeries"
uuid = "ebb8d67c-85b4-416c-b05f-5f409e808f32"
authors = ["Hendrik Ranocha <mail@ranocha.de> and contributors"]
version = "0.1.64"

[deps]
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
Latexify = "23fbe1c1-3f47-55db-b15f-69d7ec21a316"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
Polynomials = "f27b6e38-b328-58d1-80ce-0feddd5e7a45"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
RootedTrees = "47965b36-3f3e-11e9-0dcf-4570dfd42a8c"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[weakdeps]
SymEngine = "123dc426-2d89-5057-bbad-38513e3affd8"
SymPy = "24249f21-da20-56a4-8eb1-6a02cf4ae2e6"
SymPyPythonCall = "bc8888f7-b21e-4b7c-a06a-5d9c9496438c"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"

[extensions]
BSeriesSymEngineExt = "SymEngine"
BSeriesSymPyExt = "SymPy"
BSeriesSymPyPythonCallExt = "SymPyPythonCall"
BSeriesSymbolicsExt = "Symbolics"

[compat]
Combinatorics = "1"
Latexify = "0.15, 0.16"
LinearAlgebra = "1"
OrderedCollections = "1"
Polynomials = "2.0.23, 3 - 3.2.8, 3.2.10"
Reexport = "1"
Requires = "1"
RootedTrees = "2.23"
SparseArrays = "1"
SymEngine = "0.8, 0.9.1, 0.10, 0.11, 0.12"
SymPy = "2"
SymPyPythonCall = "0.3, 0.4"
Symbolics = "4, 5, 6"
julia = "1.6"

[extras]
SymEngine = "123dc426-2d89-5057-bbad-38513e3affd8"
SymPy = "24249f21-da20-56a4-8eb1-6a02cf4ae2e6"
SymPyPythonCall = "bc8888f7-b21e-4b7c-a06a-5d9c9496438c"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"
